html,
body {
  height: 100%;
}

body {
  width: 375px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

button.favorite {
  margin: 0.5rem 0;
}

.hidden {
  display: none !important;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.half-column {
  width: 40%;
}

@media screen and (min-width: 667px) {
  body {
    width: 667px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }

  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }

  button.favorite {
    margin: 1.5rem 0;
  }

  span.summary {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 1536px) {
  body {
    width: 1536px;
  }

  html {
    font-size: 34px;
  }
}

@media screen and (min-width: 1950px) {
  body {
    width: 1950px;
  }
}
